@charset "utf-8";
/* CSS Document */
#message_box { 
	position: absolute; 
	top: -300px; 
	left: 50%;
	margin-left:245px;
	z-index: 39; 
	padding:60px 20px 20px 20px;
	/*border:solid 1px #fc0;*/
	width:200px;
	height:410px;
	background-color:transparent;
	background-image:url(../img/message_bg.png);
	background-repeat:no-repeat;
	/*-moz-box-shadow: 5px 5px 15px #000;-webkit-box-shadow: 5px 5px 15px #000;box-shadow: 5x 5px 15px #000;*/
}
#message_box h3{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:left;
	color:#FF0;
	margin-top:10px;
}
#message_box p{
	text-align:left;
	color:#333;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:10px 0 0 10px;
}
#message_box strong{
	color:#666;
	font-size:10px;
}
#close_message:hover{
	background-image:url(../img/12-em-cross-over.png);
}
#message_box:hover{
	cursor:move;
}
