@charset "utf-8";
/* CSS Document */

#content{
	position:absolute;
	height:auto;
	width:960px;
	top:0;
	left:50%;
	margin-left:-480px;
	padding:0px;
	border:0px;
	background-color:#fff;

}

#top_banner{
	position:relative;
	width:960px;
	height:110px;
	margin:0px auto 0px auto;
	background-image:url(../../img/eid_header_bg_2.png);
	background-repeat:no-repeat;
	background-position:top center;
}

#login_button{
	position:absolute;
	left:50%;
	top:70px;
	margin-left:30px;
}
#login_button form{
	padding:0;
	border:0;
}
#login_button form table{
	color:#999;
	font-size:12px;
	width:400px;
}

#login_button .admin_buttons, #register_button{
	width:auto;
	height:auto;
	background-color:transparent;
	color:#999;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	text-transform:capitalize;
	border:0px solid #ccc;
	margin:0;
	padding:0;
}
#login_button .admin_buttons:hover{
	color:#333;
	cursor:pointer;
}
#register_button:hover{
	color:#333;
	cursor:pointer;
}
#google_translate_element{
	width:240px;
}


#google_translation_block{
	position:absolute;
	height:30px;
	width:150px;
	padding:0;
	bottom:0;
	left:50%;
	top:30px;
	margin-left:70px;
	background-color:transparent;
}
#google_translation_block option{
	width:200px;
}

#facebook{
	position:absolute;
	width:100px;
	left:50%;
	top:30px;
	margin-left:240px;
	background-color:transparent;
}

#eid_twitter{
	position:absolute;
	width:100px;
	left:50%;
	top:30px;
	margin-left:320px;
	background-color:transparent;
}
#google_plus_block{
	position:absolute;
	width:80px;
	left:50%;
	top:30px;
	margin-left:395px;
	background-color:transparent;
}

#header{
	position:absolute;
	width:970px;
	height:100px;
	margin:0px auto 0px auto;
	background-color:#FFF;
	background-color:transparent;
	top:0px;
}
#eid_logo{
	position:absolute;
	width:750px;
	height:100px;
	left:0px;
	/*background-image:url(../img/chinese-new-year-banner.jpg);*/
	background-repeat:no-repeat;
}
img{
	border:0;
	padding:0;
	background-color:trasparent;
}
#menu_block_background{
	margin-top:0px;
}
#menu{
	width:960px;
	height:35px;
	margin:0px auto 0px auto;
	background-color:#ff0;
	padding:0;
}


.menu_title{
	height:25px;
	width:auto;
	background-color:transparent;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	/*color:#00B0D8;*/
	color:#000;
	text-align:center;
	font-size:16px;
	padding:5px 20px 5px 20px;
	border:0;
	margin-left:25px;
	float:left;
}
.menu_title:hover{
	cursor:pointer;
}
#courses_title{
	margin-left:30px;
}

#weather_date{
	position:absolute;
	top:5px;
	left:50%;
	margin-left:200px;
	background-color:transparent;
}
#weather_icon{
	float:left;
	margin-right:10px;
	background-color:transparent;
}
#weather_icon img{
	width:20px;
}
#weather_text{
	float:left;
	height:25px;
	left:65px;
	top:0px;
	background-color:transparent;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:10px;
}
.menu_body{
	position:absolute;
	left:50%;
	height:180px;
	width:450px;
	top:145px;
	background-color:#fff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:none;
	z-index:40;
}
.menu_sub_block{
	width:150px;
	height:150px;
	margin-left:20px;
	float:left;
	background-color:transparent;
}

#home_body{margin-left:-490px;}
#courses_body{margin-left:-450px;width:720px; height:250px; background-color:#09F;}
#students_body{margin-left:-410px;width:870px; height:220px; background-color:#F90;}
#useful_body{margin-left:-300px;width:720px;height:200px; background-color:#C0F;}
#about_body{margin-left:-70px;width:400px;height:230px; background-color:#060;}
#social_body{margin-left:80px; width:350px;height:180px; background-color:#C00;}

#home_title:hover{ background-color:#0C0;}

.header_rich_content{
	width:440px;
	height:auto;
	border-left:dotted 1px #ccc;
	margin-left:0px;
	margin-top:30px;
	color:white;
	font-size:11px;
	padding-left:30px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.rich_content_img{
	float:left;
	margin-right:20px;
	margin-bottom:px;
	width:110px;
	border:1px solid #ccc;
}
.rich_content_title{
	font-size:16px;
	margin-top:0px;
	margin-bottom:10px;
	padding-top:0px;
	color:#fff;
	text-transform:capitalize;
}

.rich_content_text{
	text-align:left;
	color:#fff;
	line-height:17px;
	margin-top:0px;
	font-size:11px;
}

.rich_content_link{
	color:#000;
}

.social_icon{
	width:30px;
	margin:10px 0px 0px 5px;
}

.rich_content_link A{text-decoration: none; color:#05D5FF;}
.rich_content_link A:link {text-decoration: none; color:#05D5FF;}
.rich_content_link A:visited {text-decoration: none; color:#05D5FF;}
.rich_content_link A:active {text-decoration: none;color:#05D5FF;}
.rich_content_link A:hover {text-decoration:underline;color:#000;}


#door{
	margin-top:10px;
	width:115px;
	padding-left:20px;
}

.menu_bar{
	height:auto;
	width:120px;
	margin-top:10px;
	background-color:transparent;
	color:#fff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;
	padding:0px 10px 0px 10px;
	text-transform:capitalize;
	text-transform:uppercase;
}
#special_bar{
	width:270px;
}
.menu_bar_first{margin-top:30px}
.menu_bar:hover{
	cursor:pointer;
	background-color:#ff0;
	color:#000;
}
.menu_body span{
	padding-right:5px;
}
#skypedetectionswf{
	height:0px;
	width:0px;
	background-color:#333;
}